.video-info{
   padding-left: 1rem;
   padding-right: 1rem;

    &__avatar{
        width:40%;
        height: 5rem;
        border-radius: 0.5rem;
    }

    &__cards{
        display: flex;
        padding-bottom: 1rem;

    }

    &__title-channel{
        width: 60%;
        padding-left:1rem;
    }
}