/*Primary colors*/ 
/*Primary text color.*/
$main-text:#323232;
/* Primary CTA color. Active form field outline 
color.*/
$main-button: #0095FF;
 /*Secondary text color. Text Label color*/
$second-text: #AFAFAF;
/*Background color. CTA text color*/
$background:#FFFFFF;



/*Secondary colors*/ 

/* Video player components */
$video:#000000;

/* CTA hover state color. */
$hover-button:#0065AD;

/* Divider line. Form field outline color. */
$divider-form:#E1E1E1;

/* Form field background color. */
$background-form: #FAFAFA;
