@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/avenir-next-LT-Pro.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/avenir-next-LT-Pro-bold.ttf") format("truetype");
  font-weight: 700;
}
